@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* https://fonts.google.com/selection/embed */
.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html, body, #root {
  margin: 0;
  width: 100%;
  height: 298vh;
}


* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  pointer-events: all;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2em;
  font-weight: 300;
  font-style: normal;
}

h3{
  font-family: "Titillium Web", sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* DISEÑO */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 298vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#root{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;

}

.canva {
  position: fixed !important; 
  inset: 0 !important; 
  background-color: #242424 !important;


  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.App {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.hero {
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
}

.App1 {
  width: 100%;
  height: 80vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.hero1 {
  position: absolute; 
  bottom: 2rem;
  right: 0rem; 
  display: flex;
  flex-direction: column;
}

.App2 {
  width: 100%;
  height: 70vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
  text-align: justify;
}
.hero2 {
  position: absolute; 
  bottom: 2rem;
  left: 25rem; 
  right: 10rem;
  display: flex;
  flex-direction: column;
}

.App3 {
  width: 100%;
  height: 46vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.hero3 {
  position: absolute;
  bottom: 2rem;
  left: 0rem;
  display: flex;
  flex-direction: column;
}


.name{
  margin-left: 1rem;
}
.works{
  margin-right: 1rem;
}

#orientation-warning {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
}

/* Celulares */
@media (max-width: 950px) {
  h1 {
    font-size: 3em;
    line-height: 1.1;
    pointer-events: all;
  }

  h2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    font-style: normal;
  }

  h3 {
      font-size: 1em; 
  }

  .hero2 {
    position: absolute; 
    bottom: 2rem;
    left: 20rem; 
    right: 0rem;
    display: flex;
    flex-direction: column;
  }
}